:root {
  --main-bg-color: repeating-linear-gradient(
    to right,

    rgb(255, 79, 117),
    rgb(145, 83, 163),
    rgb(232, 114, 60),
    rgb(0, 137, 144),
    rgb(255, 130, 147)
  );
}
body {
  font-family: "Handlee", cursive;
  background-image: url("img/backround.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
h2 {
  font-family: "League Script", cursive;
  font-size: xxx-large;
  font-weight: 900;
  background: var(--main-bg-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
ul {
  list-style: none;
}
.nav-cont {
  padding: 5px;
  margin-bottom: 15px;
}
.nav-item {
  margin-left: 10px;
  margin-right: 10px;
}
.nav-link,
.nav-link-active {
  color: black;
  display: block;
  padding: 0.5rem 1rem;
}

.nav-link:hover {
  text-shadow: 0px 0px 10px rgba(255, 101, 32);
  text-decoration: none;
  color: rgb(255, 79, 117);
}
#active {
  background: var(--main-bg-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.basic-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 2fr 1fr 1fr 2fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  height: 100%;
}
#grid1 {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 5;
}

#contactInfo {
  grid-row-start: 3;
  grid-column-start: 3;
  grid-row-end: 4;
  grid-column-end: 4;
}
#grid2 {
  grid-row-start: 5;
  grid-column-start: 2;
  grid-row-end: 5;
  grid-column-end: 5;
}
#soscial {
  grid-row-start: 6;
  grid-column-start: 3;
  grid-row-end: 7;
  grid-column-end: 4;
}
